<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename = 'main.css')}}">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    {% if title %}
        <title> cMS - {{title}}</title>
    {% else %}
        <title>cMS</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">cMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{url_for('home')}}">Home</a>
                <a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                  {%if current_user.isProf == True %}
                    <a class="nav-item nav-link" href = "{{url_for('new_post')}}"> New Post</a>
                  {%endif%}
                  <a class="nav-item nav-link" href = "{{url_for('viewuser', username = current_user.username)}}"> {{current_user.username.capitalize()}} </a>
                  <a class="nav-item nav-link" href = "{{url_for('account')}}"> Edit Profile </a>
                  <a class="nav-item nav-link" href = "{{url_for('logout')}}">Logout </a>
                {% else %}
                  <a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
                  <a class="nav-item nav-link" href="{{url_for('register')}}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
    

    <main role="main" class="container">
        <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories = true) %}
                {% if messages %}
                    {% for categories,message in messages %}
                        <div class="alert alert-{{categories}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="content-section">
            <h3>Quick Links</h3>
            <p class='text-muted'>
                <ul class="list-group">
                 {%if current_user.is_authenticated%}
                <li class="list-group-item list-group-item-light"><a href ="{{url_for("viewuser",username = current_user.username)}}">My Courses</a></li>
                {%endif%}
                <li class="list-group-item list-group-item-light"><a href = "{{url_for('credit')}}">Credits</li>
                <li class="list-group-item list-group-item-light"><a href = "{{url_for('contactUs')}}">Contact Us</a></li>
                </ul>
            </p>
            </div>
        </div>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    

</body>
</html>