{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
  <img class="rounded-circle article-img" src = "{{url_for('static',filename = 'profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{url_for('viewuser', username = post.author.username)}}">
          {{ post.author.username.capitalize() }}
        </a>
        <small class="text-muted">
          {{ post.date_posted.date() }}
        </small>
        {% if post.author == current_user %}
          <a class="float-right text-muted" href = "{{url_for('update_post', post_id= post.id)}}">
            Update Post
          </a>
          <a class = "float-right text-danger mr-3" href = "{{url_for('delete_post', post_id = post.id)}}"> 
            Delete 
          </a>
        {% endif %}
      </div>
      <h2>
        <a class="article-title" href="#">
          {{ post.title }}
        </a>
      </h2>
      <p class="article-content">
        {{ post.content }}
      </p>
    </div>
  </article>
  <div class = "content-section">
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset class = "form-group">
            <legend class = "border-bottom mb-4">
                Login
            </legend>
            
            
            <div class="form-group">
              {{form.name.label(class = "form-control-label")}}
              {% if form.name.errors %}
                  {{form.name(class = "form-control form-control-lg is-invalid")}}
                  <div class="invalid-feedback">
                      {% for error in form.name.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{form.name(class = "form-control form-control-lg")}}
              {% endif %}
          </div>
            
        </fieldset>
        <div class = "form-group">
            {{form.submit(class= "btn btn-outline-info")}}
        </div>
    </form>
</div>

{% endblock content %}