{%extends "layout.html" %}
{%block content%}
    <div class = "registerform">
        <form method="POST" action="">
            {{form.hidden_tag()}}
           
                <legend class = "border-bottom mb-4">
                   <h2> Join Today</h2>
                </legend>
                <div class="row">
                    <div class="col-md-6 col-12">
                <dir class="form-group">
                    {{form.username.label(class = "form-control-label")}}

                    {% if form.username.errors %}
                        {{form.username(class = "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.username(class = "form-control form-control-lg")}}
                    {% endif %}

                    
                </dir>
            </div>
            <div class="col-md-6 col-12">
                <dir class="form-group">
                    {{form.email.label(class = "form-control-label")}}
                    {% if form.email.errors %}
                        {{form.email(class = "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.email(class = "form-control form-control-lg")}}
                    {% endif %}
                </dir>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                <dir class="form-group">
                    {{form.password.label(class = "form-control-label")}}
                    {% if form.password.errors %}
                        {{form.password(class = "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.password(class = "form-control form-control-lg")}}
                    {% endif %}
                </dir>
                </div>
                <div class="col-md-6 col-12">
                <dir class="form-group ">
                    {{form.confpassword.label(class = "form-control-label")}}
                    {% if form.confpassword.errors %}
                        {{form.confpassword(class = "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.confpassword.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.confpassword(class = "form-control form-control-lg")}}
                    {% endif %}
                </dir>
            </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="form-check">
                    {{ form.isProf(class="form-check-input") }}
                    {{ form.isProf.label(class="form-check-label") }}
                </div>
           </div>
           <div class="d-flex justify-content-center mt-3">
            <div class = "form-group ">
                {{form.submit(class= "btn btn-outline-info")}}
            </div>
        </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <div class="d-flex justify-content-center">
        <small class = "text-muted">
            Already have an account? <a class="ml-2" href="{{ url_for('login')}}">SIGN IN</a>
        </small>
    </div>
    </div>
{% endblock %}