{% extends "layout.html" %}
{% block content %}
    <div class="media">
        
        <img class="rounded-circle account-img" src="{{image_file}}">
        <div class="media-body">
        <h2 class="account-heading">{{user.username.capitalize()}}</h2>
        <p class="text-secondary">{{user.email}}</p>
        </div>
    </div>
    {% if user.isProf%}
    <fieldset class = "form-group">
        <legend class = "border-bottom mb-4">
            Courses by {{user.username}} - {{posts.total}}
        </legend>
    </fieldset>
    <div class="row">
      {%for post in posts.items %}
      <div class="col-md-4 col-12 coursescard">
      <article class="media cources">
          <img class="rounded-circle article-img" src = "{{url_for('static',filename = 'profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata0">
              <a class="mr-2" href="/account">{{ post.author.username }}</a>
              <small class="text-muted0">{{ post.date_posted.date() }}</small>
            </div>
            <hr/>
            <div class="article-metadata1">
            <h2><a class="article-title" href="{{url_for('viewpost', post_id = post.id)}}" >{{ post.title }}</a></h2>
            
            <div class="article-metadata1">
              <small class="article-content">{{ post.content }}</small>
              <small class="article-content text-muted1">Credits : {{ post.credit }}</small>
            </div>
          </div>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
    {%else%}
  
      <fieldset class = "form-group">
        <legend class = "border-bottom mb-4">
            Courses taken by {{user.username}} - {{len}}
        </legend>
    </fieldset>
    <div class="row">
      {%for course in courses %}
      <div class="col-md-4 col-12 coursescard">
      <article class="media cources">
          
          <div class="media-body ">
            <div class="article-metadata0">
              <h1>{{course.course}}</h1>
              <a class="mr-2" href="/users/{{course.teach}}">{{ course.teach }}</a>
            </div>
            <div>
              <div class="article-metadata1">
              <p class = "article-content"> Course ID: {{course.course}}
            <p class="article-content text-muted1">Credits: {{ course.credit }}</p>
          </div>
            </div>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
    {%endif%}
    <div class="homebtn">
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if posts.page == page_num %}
        <a class="btn btn-info mb-4  hbtn" href="{{ url_for('viewuser', username=user.username, page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-info mb-4 hbtn" href="{{ url_for('viewuser', username=user.username, page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
</div>
{% endblock content %}